body {
  font-family: "Lato", "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.footer {
  height: 50px;
  padding: 10px;
  background-color: #e0e0e0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
  padding-right: 20px; /* Added padding on the right side */
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.calendar-container {
  flex: 1;
  background-color: #fff;
}

/* ... other styles ... */

.rbc-calendar {
  font-family: "Lato", "Arial", sans-serif;
  background-color: #fafafa;
}

.rbc-header {
  background-color: #fff;
  color: #4a4a4a;
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
}

.rbc-today {
  background-color: rgba(0, 150, 136, 0.1);
}

.rbc-event {
  background-color: #00a7c4;
  color: #fff;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 0.85em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rbc-month-view .rbc-date-cell {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.rbc-toolbar {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.rbc-btn-group button {
  color: #4a4a4a;
  background: none;
  border: none;
  padding: 5px 15px;
  font-size: 0.9em;
  transition: background-color 0.3s;
  box-shadow: none;
}

.rbc-btn-group button:hover {
  background-color: rgba(0, 150, 136, 0.1);
}
